---
layout: default
---

<ul class="breadcrumb">
    <li class="active">You are here: &nbsp;</li>
    <li><a href="{{ site.baseurl }}/" class="pathway">Home</a><span class="chevron">&rsaquo;</span></li>
    {% if page.back_title %}
    <li><a href="{{ site.baseurl }}{{page.back_url}}" class="pathway">{{page.back_title}}</a><span
            class="chevron">&rsaquo;</span></li>
    {% endif %}
    <li class="active"><span>{{ page.title }}</span></li>
</ul>

<article>

    <img src="{{ site.baseurl }}/images/speakers/meetup-25-26.webp" alt="BioVis Meetup Speakers" style="width: 100%" />

    <div style="display: flex; flex-direction: row; gap: 2em; margin-top: 1em;">
        <div>Join the meeting using Zoom:
            <a href="https://tu-dresden.zoom-x.de/j/67863904836?pwd=mVqoyB6DlxAbFAtN7kx0Ka62KHFmUJ.1">link</a>
        </div>
        <div>Meeting ID: 678 6390 4836</div>
        <div>Passcode: BioV!s2025</div>
    </div>

    <h2>{{ page.title}}</h2>

    {{ content }}

    <h2>Future and past events</h2>

    <ul>
        {% for post in site.posts %}
        {% capture category %}{{post.event}}{% endcapture %}
        {% if category == "meetup" %}
        <li>
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            <span style="margin-left: 0.5em">{{ post.meetup_date | date: "%b %-d, %Y" }}</span>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</article>